# 불용어 크롤링

In [ ]:
# 불용어 크롤링
from selenium import webdriver
import requests
import time

stopwords_dict = {
            'stopwords' : []
}

driver = webdriver.Chrome('chromedriver')
site = 'https://www.ranks.nl/stopwords/korean'
time.sleep(6)
driver.get(site)

a1 = driver.find_element_by_css_selector('#article178ebefbfb1b165454ec9f168f545239 > div.panel-body > table')

li_list= a1.find_elements_by_css_selector('tbody')


for i in li_list:
    a_tag = i.find_element_by_css_selector('tr')
    a = a_tag.text.strip()
    
    char_list = ['\\', '/',':','*','"','?','<','>','|','\n']
    
    for c1 in char_list:
        stopwords = a.replace(c1, ' ')
        
    for j in stopwords.split():
        stopwords_dict['stopwords'].append(j)

df = pd.DataFrame(stopwords_dict, columns=['stopwords'])

---
---
---

# 불용어 추가

In [1]:
# stopwords 추가

import pandas as pd
import numpy as np

# lit = 'ㄱ ㄴ ㄷ ㄹ ㅁ ㅅ ㅂ ㅇ ㅈ ㅊ ㅋ ㅌ ㅎ ㄱ ㄱ ㄱ ㄱ'
# 이런 식으로 띄어쓰기로 단어 추가하면 된다
# 중복 제거되고 


def append_stopwords(lit):
    stopwords = pd.read_csv('data/stopword.csv')
    stopwords_dict = stopwords.to_dict('list')
    stopwords_dict
    print('기존 개수 : ',stopwords.shape,'\n')
    
    lit = lit.split()
    
    for i in lit:
        stopwords_dict['stopwords'].append(i)
        
    stopwords_df = pd.DataFrame(stopwords_dict,columns=['stopwords'])
    stopwords_df = stopwords_df.drop_duplicates()
    print('추가한 후 개수 : ', stopwords_df.shape,'\n')
    
    
    stopwords_df.to_csv('data/stopword.csv',index = False, encoding = 'utf-8' )
    print('저장완료')
    return stopwords_df

In [117]:
def remove_stopwords(lit):
    stopwords = pd.read_csv('data/stopword.csv')
    print('기존 개수 : ',stopwords.shape,'\n')
    lit = lit.split()
    
    for i in lit:
        
        
        x = stopwords[stopwords['stopwords'] == i].index
        stopwords = stopwords.drop(x,axis=0).reset_index(drop=True)
         
    stopwords.to_csv('data/stopword.csv',index = False, encoding = 'utf-8' )
        
    print('추가한 후 개수 : ', stopwords.shape,'\n')
    
    return stopwords

In [106]:
append_stopwords('')

기존 개수 :  (702, 1)

추가한 후 개수 :  (706, 1)

저장완료

    stopwords
0           아
1           휴
2         아이구
3         아이쿠
4         아이고
..        ...
701         은
702         날
703         앤
704         함
705         위

[706 rows x 1 columns]

In [110]:
stopwords.query('stopwords == "살"')

Empty DataFrame
Columns: [stopwords]
Index: []

In [116]:
remove_stopwords('ㄱ ㄴ')

    stopwords
0           아
1           휴
2         아이구
3         아이쿠
4         아이고
..        ...
698         은
699         날
700         앤
701         함
702         위

[703 rows x 1 columns]

In [107]:
import pandas as pd
import numpy as np

stopwords = pd.read_csv('data/stopword.csv')

stopwords.query('stopwords == "살"')