In [1]:
import os
import json
import numpy as np
import pandas as pd
import scipy.sparse as spr

목차

- 1. 데이터 처리 (불러오기,추가,수정,변환)
- 2. 플레이리스트로 추천 (협업필터링)

# 데이터 처리

## train data 불러오기

In [2]:
with open('data/train.json',encoding='utf-8-sig') as f:
    train_dict = json.load(f)
    
with open('data/song_meta.json',encoding='utf-8-sig') as f:
    song_dict = json.load(f)
    
with open('data/genre_gn_all.json',encoding='utf-8-sig') as f:
    genre_dict = json.load(f)
    
train_df = pd.DataFrame.from_dict(train_dict)
song_df = pd.DataFrame.from_dict(song_dict)

## train_df 전처리

### 일반 전처리
- num_songs,num_tags = '중복제거한 노래 태그 개수'

In [3]:
train_df.head(3)

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000

In [4]:
train_df['tags_cnt'] = train_df['tags'].map(lambda x : len(x))
train_df['songs_cnt'] = train_df['songs'].map(lambda x : len(x))

In [5]:
def list_merger(x):
    temp_list.extend(x)

temp_list = []

train_df['songs'].map(list_merger)

unique_songs = list(set(temp_list))

num_songs = len(unique_songs)

In [6]:
temp_list = []
                
train_df['tags'].map(list_merger)
                    
unique_tags = list(set(temp_list))
                
num_tags = len(unique_tags)

In [7]:
num_songs

615142

In [8]:
num_tags

29160

In [9]:
num_train = len(train_df)
num_train

115071

### tag에 id부여

In [10]:
train_df.head(3)

,tags,id,plylst_title,songs,like_cnt,updt_date,tags_cnt,songs_cnt
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000,1,19
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000,2,42
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000,2,28

In [11]:
# { 태그 : 새로운id } 딕셔너리
tag_to_id = {}


# { 새로운id : 태그 } 딕셔너리
id_to_tag = {}

# enumerate 반복 횟수를 이용해서 새로운 id 부여
for i,v in enumerate(unique_tags):
    id_to_tag[i] = v

# id_to_tag의 키 밸류를 반전해서 tag_to_id를 만듦
tag_to_id = {v:k for k,v in id_to_tag.items()}


# tags를 id로 변환해서 새로운 column을 생성
def tag_id_trans(x):
    
    temp_list = []
    
    for tag in x:
        temp_list.append(tag_to_id[tag])
    
    return temp_list

train_df['tags_id'] = train_df['tags'].map(tag_id_trans)

In [12]:
train_df.head()

,tags,id,plylst_title,songs,like_cnt,updt_date,tags_cnt,songs_cnt,tags_id
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000,1,19,[16846]
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000,2,42,"[27312, 18129]"
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000,2,28,"[19601, 615]"
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000,10,38,"[6914, 25798, 26081, 11925, 25092, 18983, 1646..."
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000,1,53,[13344]

### 플레이리스트 속 노래들(songs)에게 새로운 id 부여

In [13]:
# { 노래id : 새로운id } 딕셔너리
song_to_id = {}


# { 새로운id : 노래id } 딕셔너리
id_to_song = {}

# enumerate 반복 횟수를 이용해서 새로운 id 부여
for i,v in enumerate(unique_songs):
    id_to_song[i] = v

# id_to_tag의 키 밸류를 반전해서 tag_to_id를 만듦
song_to_id = {v:k for k,v in id_to_song.items()}


# tags를 id로 변환해서 새로운 column을 생성
def song_id_trans(x):
    
    temp_list = []
    
    for song in x:
        temp_list.append(song_to_id[song])
    
    return temp_list

train_df['new_songs_id'] = train_df['songs'].map(song_id_trans)

In [14]:
train_df.head(3)

,tags,id,plylst_title,songs,like_cnt,updt_date,tags_cnt,songs_cnt,tags_id,new_songs_id
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000,1,19,[16846],"[456704, 112732, 333158, 488440, 258853, 12127..."
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000,2,42,"[27312, 18129]","[375894, 587314, 431997, 104605, 338568, 21226..."
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000,2,28,"[19601, 615]","[72132, 240434, 144495, 161861, 307991, 222934..."

### 플레이리스트 새로운 id 부여

In [15]:
train_df['new_plyst_id'] = train_df.index

In [16]:
id_to_playlist = {}

playlist_to_id = {}

def mk_dict(x):
    
    id_to_playlist[x['new_plyst_id']] = x['id']

train_df.loc[:,['id','new_plyst_id']].apply(mk_dict,axis=1)

playlist_to_id = {v:k for k,v in id_to_playlist.items()}

In [17]:
train_df = train_df[['tags','tags_id','id','new_plyst_id','plylst_title','songs','new_songs_id','tags_cnt','songs_cnt','like_cnt','updt_date']]
train_df.head(3)

,tags,tags_id,id,new_plyst_id,plylst_title,songs,new_songs_id,tags_cnt,songs_cnt,like_cnt,updt_date
0,[락],[16846],61281,0,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...","[456704, 112732, 333158, 488440, 258853, 12127...",1,19,71,2013-12-19 18:36:19.000
1,"[추억, 회상]","[27312, 18129]",10532,1,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...","[375894, 587314, 431997, 104605, 338568, 21226...",2,42,1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]","[19601, 615]",76951,2,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...","[72132, 240434, 144495, 161861, 307991, 222934...",2,28,17,2017-08-28 07:09:34.000

In [18]:
train_df.columns = ['태그','태그_id','플리_id','새플리_id','플리제목','노래_id','새노래_id','태그수','노래수','좋아요수','갱신일']
train_df.head(3)

,태그,태그_id,플리_id,새플리_id,플리제목,노래_id,새노래_id,태그수,노래수,좋아요수,갱신일
0,[락],[16846],61281,0,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...","[456704, 112732, 333158, 488440, 258853, 12127...",1,19,71,2013-12-19 18:36:19.000
1,"[추억, 회상]","[27312, 18129]",10532,1,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...","[375894, 587314, 431997, 104605, 338568, 21226...",2,42,1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]","[19601, 615]",76951,2,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...","[72132, 240434, 144495, 161861, 307991, 222934...",2,28,17,2017-08-28 07:09:34.000

### 변수 정리

<현재>

- num_songs : 중복 제거된 총 노래수 615142
- num_tags : 중복 제거된 총 태그수 29160
- num_train : 데이터의 총 갯수 115071
 
- tag_to_id : { 태그 : 새로운id } 딕셔너리
- id_to_tag : { 새로운id : 태그 } 딕셔너리
- song_to_id : { 노래 : 새로운id } 딕셔너리
- id_to_song : { 새로운id : 노래 } 딕셔너리
- playlist_to_id { 플리id : 새로운id } 딕셔너리 
- id_to_playlist { 새로운id : 플리id } 딕셔너리 

<이후>
- code_to_genre {장르코드: 장르} 딕셔너리
- genre_to_code {장르 : 장르코드} 딕셔너리

# 장르와 코드로 협업필터링 추천해보자

## genre 앞의 네글자로 대장르만 가져오기

In [19]:
genre_big = {}

# 모든 장르 딕셔너리를 돌면서
for k,v in genre_dict.items():
    
    # 맨 뒤 두자리가 00이면 대장류로 분류
    if k[-2:] == '00':
        
        # 맨앞 네자리를 키로 하는 대장류 딕셔너리 값 추가
        genre_big[k[:4]] = v

# 찍어보기
#genre_big

## 세부장르에 대분류 장르의 이름 넣기

In [20]:
code_to_genre = {}

# 모든 딕셔너리를 돌면서
for k,v in genre_dict.items():
    
    # 맨뒤 두자리가 00이 아니면 대장류가 아닌거임!
    if k[-2:] != '00':
        
        # 그럴떈 아까만든 대장르 딕셔너리의 대장류 이름을 추가해서 이름을 수정해서 다시 넣어줌
        new_value = genre_big[k[:4]]+'_'+v
        code_to_genre[k] = new_value
        
    # 아니면 그대로
    else:
        code_to_genre[k] = v

# 찍어보기
#genre_new

## 장르 딕셔너리 키 밸류 바꾸기 -> 나중에 장르 이름으로 코드 찾을 거기 때문임!

In [22]:
genre_to_code = {v:k for k,v in code_to_genre.items()}
# 찍어보기
#genre_to_code

## Train과 장르 합치기
- 플레이리스트 안에 들어있는 노래의 장르를 중복제거 해서 컬럼에 추가
- 35초 정도 걸렸음

In [23]:
def code_gen(x):
    
    # 모든 장르를 담을 리스트
    temp_list = []
       
    # 플레이리스트에 들어있는 장르를 extend로 싸그리 모아줌
    # song노래의 id는 index와 같다는 점을 참고!
    for id in x:
        temp_list.extend(song_df.loc[id,'song_gn_dtl_gnr_basket'])
        
    # 중복제거
    temp_list = list(set(temp_list))
    
    return temp_list

train_df['장르'] = train_df['노래_id'].map(code_gen)
train_df.head(3)

,태그,태그_id,플리_id,새플리_id,플리제목,노래_id,새노래_id,태그수,노래수,좋아요수,갱신일,장르
0,[락],[16846],61281,0,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...","[456704, 112732, 333158, 488440, 258853, 12127...",1,19,71,2013-12-19 18:36:19.000,"[GN1013, GN0904, GN1101, GN1301, GN1003, GN100..."
1,"[추억, 회상]","[27312, 18129]",10532,1,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...","[375894, 587314, 431997, 104605, 338568, 21226...",2,42,1,2014-12-02 16:19:42.000,"[GN0501, GN0101, GN1504, GN0901, GN0805, GN100..."
2,"[까페, 잔잔한]","[19601, 615]",76951,2,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...","[72132, 240434, 144495, 161861, 307991, 222934...",2,28,17,2017-08-28 07:09:34.000,"[GN0403, GN0501, GN0303, GN0101, GN0301, GN040..."

## 태그_id 하나당 어떤 장르가 포함되었는지 araboja

- 각 태그가 몇번 출몰했는지 알아야함
-

In [27]:
tag_all = []

def collect_tag(x):
    global tag_all
    
    tag_all.extend(x)
    
train_df['태그_id'].map(collect_tag)

tag_unique = list(set(tag_all))

len(tag_unique)

29160

In [33]:
from collections import Counter

tag_count = dict(Counter(tag_all))

tag_count

{16846: 4007,
 27312: 6520,
 18129: 4579,
 19601: 2856,
 615: 10218,
 6914: 468,
 25798: 108,
 26081: 75,
 11925: 2467,
 25092: 112,
 18983: 7,
 16468: 208,
 26687: 948,
 1580: 34,
 10759: 6,
 13344: 3293,
 5193: 2646,
 24122: 10095,
 7515: 3248,
 19609: 73,
 25588: 9783,
 10705: 16465,
 16011: 105,
 16613: 6425,
 4386: 132,
 23310: 2234,
 23138: 272,
 24216: 1352,
 18473: 3527,
 22505: 497,
 1835: 8704,
 9507: 5400,
 19101: 986,
 26165: 345,
 22216: 327,
 22881: 4531,
 1699: 795,
 9261: 94,
 13766: 1,
 22978: 125,
 15213: 630,
 17504: 309,
 16109: 13,
 20869: 212,
 24192: 194,
 27796: 4559,
 22150: 4,
 13333: 14,
 8283: 9,
 22001: 8,
 3748: 7,
 19931: 9,
 6876: 7,
 25655: 4,
 7540: 1133,
 8774: 1,
 27415: 130,
 27449: 6413,
 426: 792,
 14324: 7615,
 3408: 8320,
 18128: 996,
 25268: 871,
 8155: 272,
 11843: 46,
 14713: 4042,
 22690: 3213,
 5235: 11417,
 2652: 18,
 28852: 148,
 28428: 3387,
 6381: 4910,
 21998: 2982,
 18567: 1,
 11680: 13,
 1552: 3,
 10317: 4,
 12865: 19,
 24722: 100,
 26376: 24,
 3910: 976,
 13698: 2,
 7772: 858,
 28899: 48,
 21653: 11,
 22229: 6837,
 5265: 2323,
 24320: 1241,
 22160: 1094,
 21813: 154,
 1722: 229,
 18037: 741,
 11729: 48,
 24080: 30,
 23143: 49,
 15919: 266,
 22213: 4861,
 19378: 1,
 17379: 7,
 13251: 1,
 21501: 1,
 23563: 3,
 193: 1,
 3361: 3965,
 22830: 1183,
 11698: 23,
 28480: 230,
 4465: 85,
 29039: 54,
 11270: 32,
 11536: 11215,
 3831: 3297,
 21373: 4576,
 21212: 429,
 17331: 237,
 15773: 45,
 22078: 320,
 25026: 75,
 10098: 2,
 676: 39,
 25458: 2731,
 18692: 120,
 6440: 10796,
 14628: 519,
 24105: 1910,
 23642: 75,
 28125: 6,
 6541: 4,
 25755: 256,
 11933: 111,
 10132: 97,
 8559: 201,
 10512: 1644,
 19970: 3925,
 24109: 1490,
 7299: 1338,
 6239: 193,
 17233: 35,
 21465: 1,
 13759: 1,
 13446: 12,
 5792: 1,
 15704: 4,
 8582: 6,
 17869: 12,
 21353: 7,
 12923: 3,
 1034: 31,
 27706: 234,
 9759: 38,
 3598: 5,
 9243: 143,
 3740: 54,
 1167: 32,
 3694: 5,
 7034: 3,
 19923: 1,
 9711: 1539,
 2005: 61,
 20733: 3186,
 5615: 488,
 12104: 1,
 10278: 2,
 4266: 2,
 17102: 34,
 4258: 566,
 8315: 542,
 26364: 409,
 18943: 97,
 12046: 140,
 3759: 1,
 20700: 1,
 25442: 1,
 6299: 1445,
 15554: 14,
 20238: 1,
 7928: 1,
 8875: 4,
 19517: 228,
 16421: 161,
 21669: 1528,
 18394: 524,
 6976: 224,
 29139: 139,
 11780: 1311,
 15794: 1237,
 27532: 283,
 212: 993,
 26123: 484,
 15784: 283,
 28709: 59,
 25999: 91,
 25555: 3421,
 15864: 35,
 11104: 179,
 17358: 17,
 24289: 3493,
 23191: 243,
 14543: 470,
 12159: 146,
 23301: 65,
 17746: 13,
 221: 19,
 336: 13,
 14505: 233,
 24285: 1,
 6011: 17,
 2232: 38,
 23171: 1,
 27738: 3,
 27173: 357,
 3543: 97,
 20391: 1483,
 22594: 2,
 7917: 193,
 21681: 29,
 3653: 106,
 6285: 408,
 18542: 3,
 26843: 1,
 25073: 235,
 17267: 35,
 16444: 168,
 27240: 29,
 8121: 3,
 24831: 624,
 7258: 686,
 9964: 179,
 14574: 209,
 22494: 209,
 24254: 110,
 3874: 2,
 14686: 7,
 7706: 5,
 8384: 3,
 5104: 19,
 21995: 22,
 15404: 90,
 10579: 243,
 6844: 166,
 21445: 973,
 14958: 71,
 28417: 7,
 18000: 21,
 19751: 7,
 4575: 8,
 21714: 5,
 8435: 12,
 18679: 1,
 21588: 117,
 9376: 161,
 18677: 89,
 11127: 73,
 15854: 18,
 17667: 75,
 16695: 217,
 8012: 641,
 8610: 378,
 27526: 873,
 9436: 11,
 21246: 3,
 22253: 268,
 16327: 350,
 1290: 32,
 489: 23,
 9119: 15,
 2142: 337,
 16384: 2,
 3109: 1,
 25915: 558,
 15112: 2,
 3579: 2,
 22201: 63,
 3806: 17,
 26436: 38,
 28281: 43,
 26938: 4,
 16929: 123,
 553: 495,
 24301: 233,
 28903: 267,
 9185: 1,
 8028: 30,
 2077: 405,
 19035: 5,
 7136: 353,
 13684: 24,
 8597: 8,
 3178: 22,
 20475: 355,
 3022: 19,
 24024: 7,
 13081: 339,
 7933: 180,
 24164: 571,
 16924: 33,
 10565: 25,
 10262: 315,
 28351: 89,
 13572: 99,
 5: 131,
 2380: 269,
 6728: 10,
 9105: 2,
 23305: 1,
 26500: 27,
 7510: 1,
 6722: 3,
 17389: 9,
 7367: 1623,
 14884: 73,
 23555: 8,
 19631: 3,
 23945: 601,
 14108: 54,
 12712: 1,
 3373: 6,
 8307: 9,
 3627: 10,
 11380: 6,
 1491: 6,
 28900: 25,
 24827: 253,
 22504: 713,
 26827: 139,
 9122: 389,
 13185: 618,
 19531: 1871,
 2026: 884,
 24070: 30,
 28348: 582,
 11367: 41,
 25408: 53,
 21699: 10,
 28172: 185,
 13182: 303,
 15952: 122,
 3992: 51,
 9252: 45,
 18403: 81,
 1883: 18,
 29085: 3,
 17638: 143,
 24600: 127,
 9703: 4,
 594: 144,
 19128: 324,
 15911: 1,
 3716: 1,
 13150: 29,
 21506: 2,
 16661: 18,
 18720: 9,
 3048: 11,
 20409: 246,
 18105: 221,
 27913: 93,
 24061: 2,
 8739: 2155,
 8533: 1286,
 12941: 433,
 11329: 604,
 1272: 137,
 9103: 224,
 4699: 27,
 12725: 7,
 9145: 550,
 3098: 372,
 16881: 629,
 11390: 144,
 3145: 1,
 19044: 11,
 16875: 1,
 21394: 602,
 28407: 509,
 6610: 22,
 4155: 595,
 17770: 80,
 27447: 14,
 6693: 10,
 7427: 14,
 8531: 18,
 23057: 8,
 10386: 113,
 1411: 124,
 9147: 22,
 17593: 8,
 1065: 12,
 8633: 10,
 29035: 171,
 11058: 49,
 28901: 15,
 12042: 1,
 18787: 5,
 29094: 325,
 16302: 125,
 19374: 107,
 6045: 2,
 6167: 305,
 26197: 306,
 10458: 4,
 19528: 69,
 4843: 1,
 23973: 1,
 6922: 21,
 9526: 1,
 15257: 1,
 16629: 3,
 13456: 2,
 11854: 457,
 5782: 65,
 6130: 16,
 13006: 126,
 23368: 15,
 28047: 1,
 895: 2,
 16231: 611,
 6913: 1356,
 8842: 216,
 9500: 93,
 16752: 74,
 25621: 42,
 13357: 30,
 1312: 44,
 20089: 125,
 22658: 176,
 4210: 36,
 13148: 73,
 3366: 16,
 14511: 8,
 23806: 253,
 23208: 5,
 1607: 4,
 3998: 82,
 3777: 490,
 9956: 80,
 7100: 1322,
 3273: 675,
 5373: 208,
 15762: 46,
 23847: 413,
 26992: 57,
 14128: 102,
 10932: 9,
 3202: 15,
 9800: 240,
 16699: 5,
 4785: 811,
 15067: 8,
 26714: 10,
 4947: 425,
 20398: 429,
 2225: 60,
 1468: 17,
 20401: 152,
 5430: 110,
 17214: 89,
 25663: 55,
 5313: 1,
 10706: 1,
 16096: 87,
 8991: 3,
 7862: 18,
 25296: 3,
 18851: 1,
 22877: 216,
 23811: 67,
 10462: 3,
 5978: 67,
 7288: 87,
 1837: 47,
 4424: 61,
 24497: 121,
 24522: 61,
 13224: 537,
 3494: 14,
 8688: 103,
 11647: 135,
 22385: 137,
 7707: 16,
 12956: 12,
 26329: 1,
 13907: 87,
 24943: 1,
 25946: 4,
 404: 39,
 23974: 6,
 21656: 2,
 19644: 2,
 13445: 216,
 12809: 1,
 1696: 7,
 15753: 103,
 2625: 1920,
 10990: 18,
 22839: 24,
 23345: 109,
 24113: 67,
 9354: 4,
 25490: 374,
 25829: 79,
 25679: 227,
 27929: 251,
 23175: 34,
 3940: 97,
 14458: 112,
 4214: 5,
 10470: 119,
 22521: 6,
 21025: 4,
 12057: 1,
 13986: 265,
 6558: 1,
 5034: 1,
 19331: 1,
 19536: 1,
 5945: 3,
 23082: 73,
 7501: 104,
 6697: 2,
 22483: 183,
 16494: 152,
 14908: 203,
 8846: 181,
 26380: 3,
 23750: 96,
 10978: 34,
 6847: 347,
 22824: 318,
 21787: 10,
 8201: 16,
 7157: 10,
 26121: 3,
 24909: 95,
 9072: 25,
 12665: 117,
 26136: 716,
 9433: 83,
 2885: 29,
 25581: 1,
 23269: 3,
 27363: 6,
 23151: 1,
 11131: 526,
 1001: 161,
 11731: 9,
 837: 201,
 10434: 55,
 7050: 441,
 22209: 637,
 2531: 48,
 8978: 5,
 12856: 66,
 5079: 27,
 23147: 11,
 21213: 14,
 4185: 9,
 16391: 5,
 8884: 6,
 19534: 3,
 15900: 19,
 19854: 2,
 25774: 334,
 27001: 24,
 11569: 8,
 15761: 601,
 16868: 3,
 18028: 23,
 11688: 3,
 11314: 21,
 1385: 764,
 28173: 6,
 16773: 203,
 25942: 60,
 15021: 145,
 22267: 4,
 19488: 20,
 24941: 210,
 1643: 6,
 14551: 205,
 8896: 18,
 26365: 1,
 28192: 97,
 8013: 272,
 6979: 1,
 21264: 107,
 25699: 147,
 23013: 117,
 25833: 575,
 25065: 161,
 191: 31,
 4282: 1,
 420: 24,
 2182: 148,
 17426: 127,
 16927: 13,
 5055: 488,
 27120: 469,
 28001: 91,
 5106: 1,
 2550: 9,
 18126: 34,
 22970: 254,
 18862: 247,
 22792: 41,
 4504: 6,
 10258: 31,
 18841: 32,
 28632: 86,
 3951: 23,
 24266: 20,
 27003: 1,
 3471: 7,
 26510: 2,
 24696: 4,
 23862: 2,
 6026: 18,
 19186: 3,
 1393: 1,
 15453: 2,
 16317: 1,
 25281: 21,
 7719: 60,
 6705: 46,
 13661: 6,
 26025: 248,
 6608: 215,
 25649: 395,
 9993: 26,
 20170: 2,
 28419: 4,
 27508: 5,
 28509: 71,
 9086: 24,
 16063: 52,
 20519: 4,
 27947: 4,
 13660: 1,
 3134: 31,
 21197: 6,
 23789: 135,
 11542: 110,
 26399: 31,
 11554: 5,
 18055: 4,
 20127: 251,
 11364: 31,
 11777: 46,
 26424: 9,
 9888: 418,
 2850: 321,
 21325: 551,
 508: 8,
 24476: 4,
 22191: 899,
 13468: 75,
 11420: 15,
 21970: 12,
 27090: 9,
 17632: 4,
 24417: 3,
 15308: 1,
 12782: 2,
 22579: 178,
 6824: 235,
 7769: 31,
 26312: 2,
 1461: 23,
 14477: 39,
 3999: 2,
 15812: 2,
 6148: 5,
 8186: 13,
 23628: 4,
 28935: 106,
 15721: 1,
 28984: 103,
 26920: 264,
 8082: 109,
 23444: 264,
 16393: 127,
 28021: 32,
 26719: 166,
 9159: 33,
 1337: 1,
 380: 56,
 10364: 40,
 24234: 469,
 22793: 413,
 17079: 87,
 259: 2,
 9870: 4,
 12103: 3,
 9498: 5,
 10034: 27,
 13496: 116,
 26463: 125,
 7282: 241,
 27247: 8,
 9983: 7,
 5224: 3,
 25643: 5,
 6065: 5,
 20838: 4,
 25044: 104,
 1271: 21,
 24607: 129,
 3664: 9,
 9033: 2,
 18051: 100,
 24063: 55,
 14932: 66,
 20495: 4,
 6455: 10,
 12365: 1,
 24138: 28,
 3401: 8,
 718: 11,
 26456: 11,
 9757: 4,
 15314: 1,
 23038: 10,
 23759: 5,
 27787: 6,
 13904: 1,
 26525: 1,
 21691: 56,
 25146: 300,
 24224: 7,
 28405: 3,
 17359: 292,
 7763: 554,
 9678: 362,
 305: 115,
 13262: 3,
 15147: 23,
 18869: 7,
 2807: 18,
 8815: 25,
 13085: 39,
 5644: 2,
 10435: 56,
 25193: 2,
 688: 1,
 24401: 2,
 28872: 1,
 7486: 83,
 21045: 2,
 8845: 83,
 18762: 75,
 8872: 3,
 6690: 29,
 2194: 7,
 3071: 3,
 8340: 34,
 4630: 70,
 18937: 57,
 14929: 8,
 23652: 1,
 783: 1,
 18738: 54,
 17335: 14,
 2838: 23,
 27597: 205,
 27215: 319,
 3032: 76,
 23934: 7,
 28920: 44,
 13950: 23,
 26006: 71,
 15174: 12,
 8377: 11,
 3124: 198,
 27935: 312,
 13708: 87,
 12686: 207,
 15609: 50,
 11630: 15,
 20338: 2,
 13536: 13,
 22301: 2,
 7391: 169,
 10746: 14,
 20339: 23,
 10775: 45,
 28053: 16,
 11756: 53,
 1089: 22,
 24612: 108,
 21053: 24,
 18274: 35,
 11917: 2,
 24747: 18,
 24226: 32,
 6663: 75,
 27448: 313,
 17947: 32,
 16841: 43,
 11779: 26,
 1887: 61,
 16293: 23,
 13434: 1,
 24459: 30,
 13308: 4,
 26154: 4,
 28464: 1,
 10222: 305,
 18405: 98,
 19851: 84,
 1481: 1,
 307: 6,
 8061: 34,
 23981: 1,
 24742: 7,
 29060: 9,
 17285: 123,
 22168: 49,
 10711: 285,
 13128: 1,
 5103: 13,
 14503: 1,
 4010: 92,
 23261: 840,
 20474: 17,
 9274: 28,
 2041: 3,
 18203: 11,
 13769: 233,
 24735: 168,
 13362: 43,
 23655: 65,
 8557: 46,
 19419: 108,
 25411: 1,
 6657: 124,
 12426: 146,
 21907: 6,
 17679: 77,
 13260: 58,
 3400: 104,
 13855: 30,
 17364: 429,
 1525: 315,
 20209: 176,
 26040: 12,
 5521: 27,
 26249: 51,
 24669: 4,
 27059: 42,
 7834: 17,
 24246: 14,
 24762: 17,
 3470: 1,
 20410: 18,
 10690: 26,
 8605: 1,
 20196: 4,
 12097: 48,
 16203: 44,
 16143: 74,
 16051: 30,
 12624: 1,
 4078: 13,
 9573: 1,
 10062: 97,
 17661: 5,
 18708: 16,
 17047: 2,
 20682: 197,
 24290: 25,
 25598: 8,
 2374: 56,
 3625: 57,
 20668: 2,
 29074: 2,
 7884: 1,
 11967: 30,
 26899: 55,
 23795: 148,
 10660: 285,
 25606: 24,
 10657: 2,
 24239: 1,
 27166: 5,
 6274: 51,
 2234: 1,
 12385: 2,
 13360: 85,
 21854: 1,
 19799: 48,
 20072: 18,
 561: 2,
 23715: 1,
 25020: 11,
 17512: 49,
 16864: 2,
 15432: 104,
 26945: 14,
 18601: 28,
 1018: 37,
 15011: 2,
 11257: 16,
 1157: 12,
 10632: 31,
 14500: 85,
 21568: 12,
 8402: 16,
 6929: 37,
 13267: 13,
 8669: 14,
 13913: 175,
 7640: 59,
 7814: 29,
 17114: 1,
 8379: 1,
 10478: 1,
 9936: 80,
 8796: 79,
 17880: 117,
 16224: 254,
 10948: 202,
 1519: 116,
 24147: 362,
 19406: 55,
 2487: 7,
 25145: 8,
 5705: 3,
 6617: 17,
 18963: 8,
 3700: 16,
 9857: 284,
 23829: 4,
 11133: 1,
 4656: 5,
 5827: 3,
 7095: 111,
 28595: 11,
 25937: 422,
 4894: 80,
 4871: 13,
 20566: 1,
 15193: 334,
 28705: 1,
 6291: 2,
 15617: 41,
 26257: 3,
 13256: 8,
 3663: 134,
 19476: 11,
 4492: 41,
 4067: 2,
 21299: 78,
 21793: 9,
 20446: 14,
 5379: 22,
 22898: 6,
 26349: 4,
 13146: 1,
 10099: 1,
 5326: 13,
 21473: 16,
 20942: 1,
 25223: 14,
 2634: 228,
 27052: 40,
 17643: 94,
 11835: 8,
 7115: 129,
 21298: 30,
 20940: 6,
 4484: 28,
 15824: 4,
 5344: 2,
 3330: 36,
 2419: 2,
 10926: 1,
 14047: 277,
 17450: 1,
 1690: 22,
 1731: 37,
 639: 17,
 21954: 101,
 379: 1,
 15627: 5,
 28042: 2,
 4992: 5,
 28514: 53,
 10013: 27,
 10506: 32,
 23718: 65,
 28445: 336,
 5242: 193,
 5908: 21,
 24816: 9,
 12318: 54,
 6987: 22,
 11181: 1,
 27612: 80,
 949: 1,
 5066: 129,
 ...}

#  플레이리스트 별 포함 횟수만큼 반복  * 0번 노래는 19번 나왔으니 0을 19번 찍기
row = np.repeat(range(len(train_use)),train_use['태그수'])

# 플레이 리스트에서 노래 id 를 하나씩 뽑아서 넣어주기
col =  [song for songs in train_use['새노래_id'] for song in songs]

# 나온 노래의 숫자 만큼 1찍기
dat = np.repeat(1, train_use['노래수'].sum())