# 사용할 라이브러리 import

In [30]:
import mysql.connector
import pandas as pd
from mysql.connector import errorcode
from __future__ import print_function
from datetime import date, datetime, timedelta
import json
from sqlalchemy import create_engine
import warnings
import numpy as np
from collections import Counter,defaultdict
warnings.filterwarnings(action='ignore')

# mysql 연결

In [2]:
engine = create_engine("mysql+pymysql://root:passwd@host:port/database?charset=utf8",encoding='utf-8')
conn = engine.connect()

# 데이터 불러오기

In [3]:
with open('data/train.json',encoding='utf-8-sig') as f:
    train_dict = json.load(f)
    
with open('data/song_meta.json',encoding='utf-8-sig') as f:
    song_dict = json.load(f)
    
with open('data/genre_gn_all.json',encoding='utf-8-sig') as f:
    genre_dict = json.load(f)

#with open('data/processed_tag.json',encoding='utf-8-sig') as f:
    #processed_tag_dict = json.load(f)    

train_df = pd.DataFrame.from_dict(train_dict)
song_df = pd.DataFrame.from_dict(song_dict)
#processed_tag_df = pd.DataFrame.from_dict(processed_tag_dict)

# 플레이리스트, 태그 테이블

## 플레이리스트 테이블 정의 및 insert

In [4]:
train_df['playlist_id'] = train_df.index

train_df['updt_date'] = pd.to_datetime(train_df['updt_date'])

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115071 entries, 0 to 115070
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tags          115071 non-null  object
 1   id            115071 non-null  int64
 2   plylst_title  115071 non-null  object
 3   songs         115071 non-null  object
 4   like_cnt      115071 non-null  int64
 5   updt_date     115071 non-null  datetime64[ns]
 6   playlist_id   115071 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 6.1+ MB

In [5]:
len(train_df)

115071

In [6]:
playlist_df = train_df[['playlist_id','plylst_title','updt_date','like_cnt']]
playlist_df.columns = ['playlist_id','playlist_title','update_date','like_cnt']
playlist_df.head(5)

   playlist_id         playlist_title         update_date  like_cnt
0            0                여행같은 음악 2013-12-19 18:36:19        71
1            1                요즘 너 말야 2014-12-02 16:19:42         1
2            2  편하게, 잔잔하게 들을 수 있는 곡.- 2017-08-28 07:09:34        17
3            3  크리스마스 분위기에 흠뻑 취하고 싶을때 2019-12-05 15:15:18        33
4            4               추억의 노래 ㅋ 2011-10-25 13:54:56         9

In [7]:
playlist_df.to_sql(name='playlist',con=conn,if_exists='replace',index=False)

## 태그 테이블 정의 및 insert

In [8]:
from itertools import chain
tags = train_df['tags'].tolist()
tags = chain.from_iterable(tags)

In [9]:
unique_tags = list(set(tags))

In [10]:
tags_df = pd.DataFrame(zip(range(len(unique_tags)),unique_tags),columns=['tag_id','tag'])
tags_df.head(5)

   tag_id      tag
0       0  드라마_OST
1       1
2       2      세월호
3       3      고요함
4       4     시리지만

In [11]:
tags_df.to_sql(name='tag',con=conn,if_exists='replace',index=False)

## 자연어 처리된 태그 테이블 정의 및 insert

p_tag = processed_tag_df['6개지움'].tolist()
p_tag = chain.from_iterable(p_tag)
unique_p_tag = list(set(p_tag))
processed_unique_tag_df = pd.DataFrame(zip(range(len(unique_p_tag)),unique_p_tag),columns=['processed_tag_id','processed_tag'])
processed_unique_tag_df.head(5)

processed_unique_tag_df.to_sql(name='processed_tag',con=conn,if_exists='replace',index=False)

## 플레이리스트 태그 관계 테이블 정의 및 insert

In [12]:
id_to_tag_dict = dict(zip(range(len(unique_tags)),unique_tags))
tag_to_id_dict = dict(zip(unique_tags,range(len(unique_tags))))

In [13]:
train_df.head()

,tags,id,plylst_title,songs,like_cnt,updt_date,playlist_id
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19,0
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42,1
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34,2
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18,3
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56,4

In [14]:
tags = train_df['tags'].tolist()

In [15]:
tag_id_pid_list = []
for tags,playlist in zip(tags,range(len(train_df))):
    for tag in tags:
        tag_id_pid_list.append((tag_to_id_dict[tag],playlist))

In [16]:
tag_id_pid_list[2]

(13926, 1)

In [20]:
tag_playlist_df = pd.DataFrame(tag_id_pid_list)
tag_playlist_df.columns = ['tag_id','playlist_id']
tag_playlist_df.head(5)

   tag_id  playlist_id
0   28620            0
1   12275            1
2   13926            1
3   20470            2
4   28465            2

In [21]:
tag_playlist_df.to_sql(name='playlist_tag',con=conn,if_exists='replace',index=False)

# 유저 테이블

# 가수 테이블

## 가수 정보 테이블

In [45]:
artist_df = pd.read_csv('./data/artist_table.csv',encoding='utf-8')
artist_df.head(5)

   artist_id     artist_name artist_main_genre
0          0         unknown            GN1100
1          1        A.R.D.I.            GN1100
2          2        Al Kasha            GN1500
3          3   Benny Benassi            GN1100
4          4      Black Pata            GN1100

In [46]:
artist_df.to_sql(name='artist',con=conn,if_exists='replace',index=False)

## 가수 노래 관계 테이블

In [49]:
song_artist_df = pd.read_csv('./data/song_artist.csv',encoding='utf-8')
song_artist_df.head(5)

   song_id  artist_id
0        0      80705
1        1      53946
2        2      59768
3        3      50124
4        4      39213

In [50]:
song_artist_df.to_sql(name='song_artist',con=conn,if_exists='replace',index=False)

## 가수 플레이리스트 관계 테이블

In [51]:
playlist_artist_df = pd.read_csv('./data/playlist_artist.csv',encoding='utf-8')
playlist_artist_df.head(5)

   playlist_id  artist_id
0            0      15315
1            0      35406
2            0      57410
3            0      14501
4            0      45319

In [52]:
playlist_artist_df.to_sql(name='playlist_artist',con=conn,if_exists='replace',index=False)

# 노래 테이블

## 노래 정보 테이블(with 플레이리스트에 노래가 추가된 횟수, 썸네일)

In [24]:
song_df.head(5)

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
0,[GN0901],20140512,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,2255639,[2727],Feelings,[GN0900],[Various Artists],0
1,"[GN1601, GN1606]",20080421,"Bach : Partitas Nos. 2, 3 & 4",376431,[29966],"Bach : Partita No. 4 In D Major, BWV 828 - II....",[GN1600],[Murray Perahia],1
2,[GN0901],20180518,Hit,4698747,[3361],Solsbury Hill (Remastered 2002),[GN0900],[Peter Gabriel],2
3,"[GN1102, GN1101]",20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,[838543],Feeling Right (Everything Is Nice) (Feat. Popc...,[GN1100],[Matoma],3
4,"[GN1802, GN1801]",20110824,그남자 그여자,2008470,[560160],그남자 그여자,[GN1800],[Jude Law],4

### 모든 노래 id에 대해서 추가된 횟수를 0으로 초기화 한 다음에 Counter의 값을 넣어줌

In [33]:
added_song_list = list(chain.from_iterable(train_df['songs'].tolist()))
added_song_count = dict(Counter(added_song_list))
added_song_cnt = {}

for i in range(len(song_df)):
    added_song_cnt[i] = 0
for k,v in added_song_count.items():
    added_song_cnt[k] = v

In [36]:
song_df['added_cnt'] = song_df['id'].map(lambda x : added_song_cnt[x])

In [39]:
song_df['thumb_url'] = ''

In [40]:
song_df_for_table = song_df[['id','issue_date','album_name','album_id','song_name','added_cnt','thumb_url']]

In [41]:
song_df_for_table.columns = ['song_id','issue_date','album_name','album_id','song_name','added_cnt','thumb_url']
song_df_for_table.head(5)

,song_id,issue_date,album_name,album_id,song_name,added_cnt,thumb_url
0,0,20140512,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,2255639,Feelings,2,
1,1,20080421,"Bach : Partitas Nos. 2, 3 & 4",376431,"Bach : Partita No. 4 In D Major, BWV 828 - II....",0,
2,2,20180518,Hit,4698747,Solsbury Hill (Remastered 2002),0,
3,3,20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,Feeling Right (Everything Is Nice) (Feat. Popc...,8,
4,4,20110824,그남자 그여자,2008470,그남자 그여자,2,

In [42]:
song_df_for_table.to_sql(name='song',con=conn,if_exists='replace',index=False)

## 플레이리스트 노래 관계 테이블

In [53]:
train_df.head(5)

,tags,id,plylst_title,songs,like_cnt,updt_date,playlist_id
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19,0
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42,1
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34,2
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18,3
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56,4

In [54]:
songs_list = train_df['songs'].tolist()

id_song_list = []

for id,songs in enumerate(songs_list):
    for song in songs:
        id_song_list.append((id,song))
        
song_playlist_df = pd.DataFrame(id_song_list,columns=['playlist_id','song_id'])
song_playlist_df.head(5)

   playlist_id  song_id
0            0   525514
1            0   129701
2            0   383374
3            0   562083
4            0   297861

In [55]:
song_playlist_df.to_sql(name='playlist_song',con=conn,if_exists='replace',index=False)

# 장르 테이블

## 대장르 테이블

In [58]:
genre_big = {}

# 모든 장르 딕셔너리를 돌면서
for k,v in genre_dict.items():
    
    # 맨 뒤 두자리가 00이면 대장류로 분류
    if k[-2:] == '00':
        
        # 맨앞 네자리를 키로 하는 대장류 딕셔너리 값 추가
        genre_big[k[:4]] = v

genre_big

genre_big_list = []

for id,name in genre_big.items():
    genre_big_list.append((id+'00',name))
    
genre_big_df = pd.DataFrame(genre_big_list,columns=['genre_code','genre_name'])
genre_big_df.head(5)

  genre_code genre_name
0     GN0100        발라드
1     GN0200         댄스
2     GN0300       랩/힙합
3     GN0400   R&B/Soul
4     GN0500       인디음악

In [59]:
genre_big_df.to_sql(name='genre_big',con=conn,if_exists='replace',index=False)

## 대장르 노래 관계 테이블

In [64]:
big_genre = song_df['song_gn_gnr_basket'].tolist()

song_id_genre_big_list = []

for song_id,genre_codes in enumerate(big_genre):
    for code in genre_codes:
        song_id_genre_big_list.append((song_id,code))

song_id_genre_big_df = pd.DataFrame(song_id_genre_big_list,columns=['song_id','genre_big_code'])
song_id_genre_big_df.head(5)

   song_id genre_big_code
0        0         GN0900
1        1         GN1600
2        2         GN0900
3        3         GN1100
4        4         GN1800

In [65]:
song_id_genre_big_df.to_sql(name='song_genre_big',con=conn,if_exists='replace',index=False)

## 세부장르 테이블

In [70]:
genre_detail_dict = {}

# 모든 딕셔너리를 돌면서
for k,v in genre_dict.items():
    
    # 맨뒤 두자리가 00이 아니면 대장류가 아닌거임!
    if k[-2:] != '00':
        
        # 그럴떈 아까만든 대장르 딕셔너리의 대장류 이름을 추가해서 이름을 수정해서 다시 넣어줌
        new_value = genre_big[k[:4]]+'_'+v
        genre_detail_dict[k] = new_value

In [74]:
genre_detail_list = []

for k,v in genre_detail_dict.items():
    genre_detail_list.append((k,v))


genre_detail_df = pd.DataFrame(genre_detail_list,columns=['genre_code','genre_name'])
genre_detail_df.head(5)

  genre_code  genre_name
0     GN0101  발라드_세부장르전체
1     GN0102     발라드_'80
2     GN0103     발라드_'90
3     GN0104     발라드_'00
4     GN0105    발라드_'10-

In [75]:
genre_detail_df.to_sql(name='genre_detail',con=conn,if_exists='replace',index=False)

## 세부장르 노래 관계 테이블

In [76]:
detail_genre = song_df['song_gn_dtl_gnr_basket'].tolist()

song_id_genre_detail_list = []

for song_id,genre_codes in enumerate(detail_genre):
    for code in genre_codes:
        song_id_genre_detail_list.append((song_id,code))

song_id_genre_detail_df = pd.DataFrame(song_id_genre_detail_list,columns=['song_id','genre_detail_code'])
song_id_genre_detail_df.head(5)

   song_id genre_detail_code
0        0            GN0901
1        1            GN1601
2        1            GN1606
3        2            GN0901
4        3            GN1102

In [77]:
song_id_genre_detail_df.to_sql(name='song_genre_detail',con=conn,if_exists='replace',index=False)